body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(rgb(17, 24, 39), rgb(75, 85, 99));
}

footer {
  margin-top: auto;
}

.links:hover {
  filter: drop-shadow(0px 0px 10px #000);
}

.hoyFecha {
  box-shadow: 0px 3px 10px 1px #ffffff;
}
